<span class="social">
  <a href="mailto:jtruty@gmail.com?subject=hi there"><span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x"></i></span></a>
  <a href="https://twitter.com/jtruty"><span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i></span></a>
  <a href="http://www.facebook.com/james.truty/"><span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x"></i></span></a>
  <a href="http://www.linkedin.com/in/jamestruty"><span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x"></i></span></a>
  <a href="https://github.com/jtruty"><span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x"></i></span></a>
</span>
